
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


*{
    box-sizing: border-box;
   
}


body{
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    -webkit-background-image: 100% 100%;
    background-size: 100% 100%;
    background-position: center center;

}



h1,legend{
    font-weight: bold;
}

textarea{
    width: 100%;
}

input{
    box-shadow: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
.container{
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 5% auto;
    background-image: linear-gradient(180deg, grey, black);
    border-radius: 25px;
    padding: 1.9em;
    font-family: 'Raleway', sans-serif;
    color: white
}

.personal-info{
    display: flex;
    flex-direction: column;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table td,.table th{
    padding:12px 15px;
    border:1px solid #ddd;
    text-align: center;
}

.table th{
    background-color: rgb(45, 47, 66);
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
    color: black;
}

.checkbox {
    display: flex;
}

.submit,.footer{
    display: flex;
    justify-content: center;
}

 
@media(max-width: 500px){
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 15px;

    }
    .table td{
       text-align: right;
       padding-left: 50%;
       text-align: right;
       position: relative;
    }
    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

 


